<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include necessary CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Edit Author</h2>
    <form method="post" th:action="@{/authors/editAuthor/{id}(id=${author.id})}" th:object="${author}">
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" required th:field="*{name}" type="text"/>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth:</label>
            <input class="form-control" id="dateOfBirth" pattern="yyyy-MM-dd" required th:field="*{dateOfBirth}" type="date" th:value="${#dates.format(author.dateOfBirth)}" />
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input class="form-control" id="address" required th:field="*{address}" type="text"/>
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
    </form>
    <a class="btn btn-secondary" th:href="@{/authors/authorList}">Back to List</a>
</div>

<!-- Include necessary JS and jQuery (for validation) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Client-side form validation using jQuery
    $(document).ready(function () {
        $("form").submit(function () {
            var isValid = true;
            $("input[type='text'], input[type='date']").each(function () {
                if (!$(this).val()) {
                    $(this).addClass("is-invalid");
                    isValid = false;
                } else {
                    $(this).removeClass("is-invalid");
                }
            });
            return isValid;
        });
    });
</script>
</body>
</html>
